{{define "title"}}Foo Shop{{end}}
{{define "body"}}
<main class="px-16 py-4">
  <h1 class="mb-4 text-4xl font-bold">
    Welcome to the Foo Shop
  </h1>
  <section class="mb-4">
    <h2 class="mb-2 text-3xl">Items</h2>
    <div id="shop-items" class="flex w-full flex-row gap-4 overflow-x-scroll py-2">
      <div id="foo-items" hx-boost="true" hx-get="/items" hx-target="closest #shop-items" hx-trigger="load"></div>
    </div>
  </section>
</main>
{{ end }}
